cachetools==4.0.0
cloudinary==1.17.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.7
defusedxml==0.6.0
Django==2.2.4
django-cleanup==4.0.0
django-cors-headers==3.2.1
django-phonenumber-field==3.0.1
django-rest-auth==0.9.5
django-rest-knox==4.1.0
djangorestframework==3.10.2
djangorestframework-gis==0.15
Pillow==6.1.0
six==1.12.0
